<!DOCTYPE html>
<html>
  <%- include("./partials/head") %>
  <body>
    <div class="app-container">
      <%- include("./partials/header") %>
      <main class="app-main">
        <div>
          <h1>Delete category '<%- locals.category.name %>'</h1>  
          <p><%- locals.category.description %></p>
        </div>
        
        <section class="main-content">

          <% if (locals.items.length > 0) { %>
            <h2>Delete these items before deleting category!</h2>
            <ul>
              <% locals.items.forEach(function(item) { %>
                <li><a href="<%= item.url %>"><%- item.name %></a></li>
              <% }); %>
            </ul>
          <% } else { %>
            <h2>No items in category, ready to delete!</h2>
            <form method="POST">
              <button type="submit">Delete</button>
            </form>
          <% } %>
        </section>
      </main>
      <%- include("./partials/footer") %>
    </div>
  </body>
</html>
