<!DOCTYPE html>
<html>
  <%- include("./partials/head") %>
  <body>
    <div class="app-container">
      <%- include("./partials/header") %>
      <main class="app-main">
        <div>
          <h1>All categories</h1>
          <a href="/category/create">Create new category</a>
        </div>
        
        <section class="main-content">
          <ul>
            <% locals.categories.forEach(function(category) { %>
              <li><a href="<%= category.url %>"><%- category.name %></a></li>
            <% }); %>
          </ul>
        </section>
      </main>
      <%- include("./partials/footer") %>
    </div>
  </body>
</html>
